<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{{ title}} - Powered by Flask</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/foundation.min.css') }}">
</head>
<body>
    {% block content %}
    {% endblock content %}
    <script src="{{ url_for('static', filename='js/vendor/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/foundation.min.js') }}"></script>
    <script>
        $(document).foundation();
    </script>
</body>
</html>